<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>isSelect</key>
			<string>NO</string>
			<key>shopID</key>
			<string>00001</string>
			<key>shopIcon</key>
			<string>00001</string>
			<key>shopName</key>
			<string>违法和史蒂夫</string>
			<key>goods</key>
			<array>
				<dict>
					<key>goodsID</key>
					<string>01</string>
					<key>goodsImage</key>
					<string>00001</string>
					<key>goodsName</key>
					<string>水电费哈市地方哈士大夫撒地方收到货发士大夫撒旦法师打发斯蒂芬闪电发货八十多不发顺丰</string>
					<key>goodsSpec</key>
					<string>100g/袋</string>
					<key>goodsPrice</key>
					<string>0.1</string>
					<key>count</key>
					<string>5</string>
					<key>isSelect</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>goodsID</key>
					<string>01</string>
					<key>goodsImage</key>
					<string>00001</string>
					<key>goodsName</key>
					<string>水电费哈市地方哈士大夫撒地方收到货发士大夫撒旦法师打发斯蒂芬闪电发货八十多不发顺丰</string>
					<key>goodsSpec</key>
					<string>100g/袋</string>
					<key>goodsPrice</key>
					<string>0.1</string>
					<key>count</key>
					<string>5</string>
					<key>isSelect</key>
					<string>true</string>
				</dict>
				<dict>
					<key>goodsID</key>
					<string>01</string>
					<key>goodsImage</key>
					<string>00001</string>
					<key>goodsName</key>
					<string>水电费哈市地方哈士大夫撒地方收到货发士大夫撒旦法师打发斯蒂芬闪电发货八十多不发顺丰</string>
					<key>goodsSpec</key>
					<string>100g/袋</string>
					<key>goodsPrice</key>
					<string>0.1</string>
					<key>count</key>
					<string>5</string>
					<key>isSelect</key>
					<string>true</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>isSelect</key>
			<string>true</string>
			<key>shopID</key>
			<string>00001</string>
			<key>shopIcon</key>
			<string>00001</string>
			<key>shopName</key>
			<string>违法和史蒂夫</string>
			<key>goods</key>
			<array>
				<dict>
					<key>goodsID</key>
					<string>01</string>
					<key>goodsImage</key>
					<string>00001</string>
					<key>goodsName</key>
					<string>水电费哈市地方哈士大夫撒地方收到货发士大夫撒旦法师打发斯蒂芬闪电发货八十多不发顺丰</string>
					<key>goodsSpec</key>
					<string>100g/袋</string>
					<key>goodsPrice</key>
					<string>0.1</string>
					<key>count</key>
					<string>5</string>
					<key>isSelect</key>
					<string>true</string>
				</dict>
				<dict>
					<key>goodsID</key>
					<string>01</string>
					<key>goodsImage</key>
					<string>00001</string>
					<key>goodsName</key>
					<string>水电费哈市地方哈士大夫撒地方收到货发士大夫撒旦法师打发斯蒂芬闪电发货八十多不发顺丰</string>
					<key>goodsSpec</key>
					<string>100g/袋</string>
					<key>goodsPrice</key>
					<string>0.1</string>
					<key>count</key>
					<string>5</string>
					<key>isSelect</key>
					<string>true</string>
				</dict>
				<dict>
					<key>goodsID</key>
					<string>01</string>
					<key>goodsImage</key>
					<string>00001</string>
					<key>goodsName</key>
					<string>水电费哈市地方哈士大夫撒地方收到货发士大夫撒旦法师打发斯蒂芬闪电发货八十多不发顺丰</string>
					<key>goodsSpec</key>
					<string>100g/袋</string>
					<key>goodsPrice</key>
					<string>0.1</string>
					<key>count</key>
					<string>5</string>
					<key>isSelect</key>
					<string>true</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>isSelect</key>
			<string>true</string>
			<key>shopID</key>
			<string>00001</string>
			<key>shopIcon</key>
			<string>00001</string>
			<key>shopName</key>
			<string>违法和史蒂夫</string>
			<key>goods</key>
			<array>
				<dict>
					<key>goodsID</key>
					<string>01</string>
					<key>goodsImage</key>
					<string>00001</string>
					<key>goodsName</key>
					<string>水电费哈市地方哈士大夫撒地方收到货发士大夫撒旦法师打发斯蒂芬闪电发货八十多不发顺丰</string>
					<key>goodsSpec</key>
					<string>100g/袋</string>
					<key>goodsPrice</key>
					<string>0.1</string>
					<key>count</key>
					<string>5</string>
					<key>isSelect</key>
					<string>true</string>
				</dict>
				<dict>
					<key>goodsID</key>
					<string>01</string>
					<key>goodsImage</key>
					<string>00001</string>
					<key>goodsName</key>
					<string>水电费哈市地方哈士大夫撒地方收到货发士大夫撒旦法师打发斯蒂芬闪电发货八十多不发顺丰</string>
					<key>goodsSpec</key>
					<string>100g/袋</string>
					<key>goodsPrice</key>
					<string>0.1</string>
					<key>count</key>
					<string>5</string>
					<key>isSelect</key>
					<string>true</string>
				</dict>
				<dict>
					<key>goodsID</key>
					<string>01</string>
					<key>goodsImage</key>
					<string>00001</string>
					<key>goodsName</key>
					<string>水电费哈市地方哈士大夫撒地方收到货发士大夫撒旦法师打发斯蒂芬闪电发货八十多不发顺丰</string>
					<key>goodsSpec</key>
					<string>100g/袋</string>
					<key>goodsPrice</key>
					<string>0.1</string>
					<key>count</key>
					<string>5</string>
					<key>isSelect</key>
					<string>true</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>isSelect</key>
			<string>true</string>
			<key>shopID</key>
			<string>00001</string>
			<key>shopIcon</key>
			<string>00001</string>
			<key>shopName</key>
			<string>违法和史蒂夫</string>
			<key>goods</key>
			<array>
				<dict>
					<key>goodsID</key>
					<string>01</string>
					<key>goodsImage</key>
					<string>00001</string>
					<key>goodsName</key>
					<string>水电费哈市地方哈士大夫撒地方收到货发士大夫撒旦法师打发斯蒂芬闪电发货八十多不发顺丰</string>
					<key>goodsSpec</key>
					<string>100g/袋</string>
					<key>goodsPrice</key>
					<string>0.1</string>
					<key>count</key>
					<string>5</string>
					<key>isSelect</key>
					<string>true</string>
				</dict>
				<dict>
					<key>goodsID</key>
					<string>01</string>
					<key>goodsImage</key>
					<string>00001</string>
					<key>goodsName</key>
					<string>水电费哈市地方哈士大夫撒地方收到货发士大夫撒旦法师打发斯蒂芬闪电发货八十多不发顺丰</string>
					<key>goodsSpec</key>
					<string>100g/袋</string>
					<key>goodsPrice</key>
					<string>0.1</string>
					<key>count</key>
					<string>5</string>
					<key>isSelect</key>
					<string>true</string>
				</dict>
				<dict>
					<key>goodsID</key>
					<string>01</string>
					<key>goodsImage</key>
					<string>00001</string>
					<key>goodsName</key>
					<string>水电费哈市地方哈士大夫撒地方收到货发士大夫撒旦法师打发斯蒂芬闪电发货八十多不发顺丰</string>
					<key>goodsSpec</key>
					<string>100g/袋</string>
					<key>goodsPrice</key>
					<string>0.1</string>
					<key>count</key>
					<string>5</string>
					<key>isSelect</key>
					<string>true</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
