<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SSY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C85A0DF2101AB6700B917DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C85A0F72101AB6900B917DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C85A1022101AB6A00B917DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
